# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Root node modules
node_modules/

# App
apps/web/vendor/
apps/web/node_modules/
apps/web/.env
apps/web/public/hot
apps/web/public/build
apps/web/storage/*.key
apps/web/storage/logs/*.log

# Test artifacts
tests/e2e/node_modules/
tests/e2e/playwright-report/
tests/e2e/test-results/

# Perf artifacts
tests/perf/*.json
